@font-face {
  font-family: 'Rubik';
  src: url(../Fonts/Rubik-Regular.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Rubik';
  src: url(../Fonts/Rubik-Medium.ttf) format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Rubik';
  src: url(../Fonts/Rubik-SemiBold.ttf) format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Inter';
  src: url(../Fonts/Inter-SemiBold.ttf) format('truetype');
  font-weight: 600;
}